flows (1).json
[{"id":"345545f5.09748a","type":"tab","label":"Life_Expectancy","disabled":false,"info":""},{"id":"262a9976.61eb56","type":"ui_form","z":"345545f5.09748a","name":"","label":"form","group":"9bd9673.9e46598","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B\t","value":"f","type":"number","required":true,"rows":null},{"label":"Measles","value":"g","type":"number","required":true,"rows":null},{"label":"BMI","value":"h","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"i","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"k","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"l","type":"number","required":true,"rows":null},{"label":"Polio","value":"m","type":"number","required":true,"rows":null},{"label":"GDP","value":"n","type":"number","required":true,"rows":null},{"label":"Population","value":"o","type":"number","required":true,"rows":null},{"label":"Schooling","value":"p","type":"number","required":true,"rows":null},{"label":"Developed","value":"q","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":340,"wires":[["1a1e3789.1dc6e8"]]},{"id":"1a1e3789.1dc6e8","type":"function","z":"345545f5.09748a","name":"pretoken","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\nvar apikey= \"dcjz01o8G-NVi3DjclriJ9x3W14JlptbtEyUv5m2dGvj\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":260,"wires":[["ec85bf02.684d2"]]},{"id":"ec85bf02.684d2","type":"http request","z":"345545f5.09748a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":300,"y":140,"wires":[["a7265a8a.dafd78"]]},{"id":"d044848c.5ac308","type":"http request","z":"345545f5.09748a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/a6db7984-c3c1-48a9-bec1-a2ee96707eae/deployments/9c94801e-32a6-4dc7-bda9-150e875511c6/online","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":340,"wires":[["dcb05dcd.332a2","4d90df7e.f4f33"]]},{"id":"a7265a8a.dafd78","type":"function","z":"345545f5.09748a","name":"","func":"var token=msg.payload.access_token;\nvar instance_id= \"a6db7984-c3c1-48a9-bec1-a2ee96707eae\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\n\nvar a=global.get(\"a\");\nvar b=global.get(\"b\");\nvar c=global.get(\"c\");\nvar d=global.get(\"d\");\nvar e=global.get(\"e\");\nvar f=global.get(\"f\");\nvar g=global.get(\"g\");\nvar h=global.get(\"h\");\nvar i=global.get(\"i\");\nvar j=global.get(\"j\");\nvar k=global.get(\"k\");\nvar l=global.get(\"l\");\nvar m=global.get(\"m\");\nvar n=global.get(\"n\");\nvar o=global.get(\"o\");\nvar p=global.get(\"p\");\nvar q=global.get(\"q\");\nvar r=global.get(\"r\");\nvar s=global.get(\"s\");\nvar t=global.get(\"t\");\n\nmsg.payload =\n{\"fields\":[\"Year\",\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"under-five deaths\",\"Total expenditure\",\"Diphtheria\",\"HIV/AIDS\",\"Polio\",\"GDP\",\"Population\",\"Schooling\",\"Developed\",\"thinness  1-19 years\",\"thinness 5-9 years\",\"Income composition of resources\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["d044848c.5ac308"]]},{"id":"dcb05dcd.332a2","type":"debug","z":"345545f5.09748a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":420,"wires":[]},{"id":"4d90df7e.f4f33","type":"function","z":"345545f5.09748a","name":"","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":220,"wires":[["93940eb8.a40c6","b3659e71.8aeb1"]]},{"id":"93940eb8.a40c6","type":"ui_text","z":"345545f5.09748a","group":"9bd9673.9e46598","order":1,"width":0,"height":0,"name":"","label":"Predictions","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":120,"wires":[]},{"id":"b3659e71.8aeb1","type":"debug","z":"345545f5.09748a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":240,"wires":[]},{"id":"9bd9673.9e46598","type":"ui_group","z":"","name":"Default","tab":"d348eae.2c46c18","order":1,"disp":true,"width":"6","collapse":false},{"id":"d348eae.2c46c18","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]